In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
stats_names = ['Name', 'Season', 'Age', 'Tm', 'Lg', 'Pos', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA',
               '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS']
player_stats = pd.read_csv('player_stats.csv', names=stats_names, encoding='gbk')
print(player_stats.shape)
print(player_stats.head(100))

(29620, 31)
              Name   Season      Age   Tm  \
0   Alaa Abdelnaby  1990-91       22  POR
1   Alaa Abdelnaby  1991-92       23  POR
2   Alaa Abdelnaby  1992-93       24  TOT
3   Alaa Abdelnaby  1992-93       24  MIL
4   Alaa Abdelnaby  1992-93       24  BOS
..             ...      ...      ...  ...
95      Alex Acker  2008-09  2007-08   25
96      Alex Acker  2008-09       26  TOT
97      Alex Acker  2008-09       26  DET
98      Alex Acker  2008-09       26  LAC
99    Don Ackerman  1953-54       23  NYK

                                      Lg Pos    G   GS    MP   FG  FGA   FG%  \
0                                    NBA  PF   43    0   6.7  1.3  2.7  .474
1                                    NBA  PF   71    1  13.2  2.5  5.1  .493
2                                    NBA  PF   75   52  17.5  3.3  6.3  .518
3                                    NBA  PF   12    0  13.3  2.2  4.7  .464
4                                    NBA  PF   63   52  18.3  3.5  6.6  .525
..                                   ...  ..  ...  ...   ...  ...  ...   ...
95  Did Not Play(other pro leagueâ€”Spain)  26  TOT  NBA    SG   25    0   8.0
96                                   NBA  SG   25    0   8.0  1.2  3.0  .395
97                                   NBA  SG    7    0   2.9  0.6  1.6  .364
98                                   NBA  SG   18    0   9.9  1.4  3.6  .400
99                                   NBA  PG   28  NaN   7.9  0.5  2.3  .222

     3P  3PA   3P%   2P  2PA   2P%  eFG%   FT   FTA   FT%  ORB  DRB   TRB  \
0   0.0  0.0   NaN  1.3  2.7  .474  .474  0.6   1.0  .568  0.6  1.4   2.1
1   0.0  0.0   NaN  2.5  5.1  .493  .493  1.1   1.4  .752  1.1  2.5   3.7
2   0.0  0.0  .000  3.3  6.3  .519  .518  1.2   1.5  .759  1.7  2.8   4.5
3   0.0  0.1  .000  2.2  4.6  .473  .464  1.0   1.3  .750  1.0  2.1   3.1
4   0.0  0.0   NaN  3.5  6.6  .525  .525  1.2   1.6  .760  1.8  3.0   4.8
..  ...  ...   ...  ...  ...   ...   ...  ...   ...   ...  ...  ...   ...
95  1.2  3.0  .395  0.3  0.8  .350   0.9  2.2  .411  .441  0.2  0.4  .500
96  0.3  0.8  .350  0.9  2.2  .411  .441  0.2   0.4  .500  0.3  0.6   1.0
97  0.0  0.6  .000  0.6  1.0  .571  .364  0.1   0.3  .500  0.0  0.3   0.3
98  0.4  0.9  .438  1.1  2.7  .388  .454  0.2   0.4  .500  0.4  0.8   1.2
99  NaN  NaN   NaN  NaN  NaN   NaN   NaN  0.5   1.0  .536  NaN  NaN   0.5

    AST  STL  BLK  TOV   PF  PTS
0   0.3  0.1  0.3  0.5  0.9  3.1
1   0.4  0.4  0.2  0.9  1.9  6.1
2   0.4  0.3  0.3  1.3  2.5  7.7
3   0.8  0.5  0.3  1.1  2.0  5.3
4   0.3  0.3  0.3  1.3  2.6  8.2
..  ...  ...  ...  ...  ...  ...
95  0.3  0.6  1.0  0.5  0.2  0.2
96  0.5  0.2  0.2  0.3  0.4  2.9
97  0.1  0.3  0.1  0.0  0.0  1.3
98  0.6  0.2  0.2  0.4  0.5  3.5
99  0.8  NaN  NaN  NaN  1.5  1.5

[100 rows x 31 columns]

In [22]:
for name in stats_names:
    print(player_stats[name].value_counts(dropna=False, ascending=True))

Khyri Thomas                1
Shai Gilgeous-Alexander     1
Darryl Johnson              1
Ben Gillery                 1
Jacob Evans                 1
                           ..
Joe Smith                  26
Kevin Willis               27
Nazr Mohammed              28
Eddie Johnson              29
Gerald Henderson           29
Name: Name, Length: 2948, dtype: int64
1980-81     13
1979-80     13
1983-84    343
1984-85    362
1981-82    373
1986-87    378
1985-86    379
1982-83    391
1987-88    426
1988-89    438
1990-91    441
1992-93    449
1994-95    452
1991-92    458
1989-90    459
1993-94    481
2002-03    483
1999-00    496
2001-02    500
1998-99    507
2006-07    516
2000-01    537
1995-96    545
1997-98    547
2011-12    552
2005-06    563
1996-97    573
2012-13    576
2015-16    578
2009-10    578
2008-09    582
2004-05    585
2003-04    585
2007-08    595
2016-17    595
2013-14    614
2010-11    625
2014-15    652
2017-18    664
2018-19    708
Name: Season, dtype: int64
43       1
44       1
42       4
41       5
18      12
40      19
39      48
38      96
19     124
37     148
36     213
35     325
20     330
34     487
21     618
33     628
32     815
31     983
30    1182
29    1252
22    1397
28    1419
27    1633
26    1827
25    1901
23    2041
24    2103
Name: Age, dtype: int64
NOK      34
SDC      51
KCK      61
CHO      87
VAN      98
NOP     132
BRK     134
NOH     161
CHA     183
OKC     198
CHH     243
WSB     256
MEM     340
WAS     391
SEA     411
TOR     442
MIN     492
ORL     505
MIA     525
NJN     544
SAC     565
UTA     581
IND     585
LAL     599
POR     602
LAC     610
DET     612
CHI     624
NYK     633
DEN     635
DAL     642
PHO     644
HOU     646
ATL     653
BOS     653
SAS     655
GSW     659
MIL     660
PHI     671
CLE     673
TOT    1722
Name: Tm, dtype: int64
NBA    19612
Name: Lg, dtype: int64
PG-SF       1
SG-PF       4
SF-PF      20
PF-C       23
SG-PG      24
PF-SF      24
SG-SF      27
C-PF       28
PG-SG      29
SF-SG      30
SF       3651
SG       3868
C        3888
PG       3903
PF       4092
Name: Pos, dtype: int64
85       3
84       4
83      17
34     122
37     136
      ...
78     436
79     517
80     698
81     738
82    1380
Name: G, Length: 85, dtype: int64
83       3
57      61
44      70
52      72
48      75
      ...
82     550
3      582
2      844
1     1189
0     5572
Name: GS, Length: 84, dtype: int64
41.2      1
42.1      1
44.5      1
42.6      1
41.7      1
       ...
6.0      86
4.0      87
12.3     92
9.0      98
5.0     104
Name: MP, Length: 422, dtype: int64
11.9      1
11.4      1
13.0      1
12.7      1
13.4      1
       ...
1.8     462
0.8     462
1.5     476
1.3     524
1.0     644
Name: FG, Length: 125, dtype: int64
21.9      1
24.8      1
25.5      1
22.9      1
25.1      1
       ...
3.5     245
4.0     251
2.0     279
1.0     283
3.0     299
Name: FGA, Length: 250, dtype: int64
0.208      1
0.716      1
0.706      1
0.071      1
0.236      1
        ...
0.429    200
0.400    215
0.333    290
0.000    360
0.500    371
Name: FG%, Length: 489, dtype: int64
4.8       1
3.6       1
3.8       1
4.1       1
4.0       1
4.2       1
3.7       1
5.1       2
3.5       2
3.4       3
3.3       5
3.1       7
3.0       8
3.2       8
2.9      12
2.8      18
2.7      20
2.6      32
2.5      43
2.4      52
2.3      69
2.2      76
2.1      89
2.0     134
1.9     158
1.7     164
1.8     173
1.6     235
1.5     288
1.4     288
1.2     326
1.3     349
1.1     433
0.9     481
1.0     487
0.8     550
0.7     554
0.6     582
0.5     699
0.4     744
0.3     987
0.2    1045
0.1    1761
0.0    8721
Name: 3P, dtype: int64
9.3        1
8.7        1
8.9        1
8.4        1
11.2       1
        ...
0.4      561
0.3      808
0.2      904
0.1     1949
0.0     5543
Name: 3PA, Length: 95, dtype: int64
0.047       1
0.120       1
0.493       1
0.108       1
0.139       1
         ...
0.500     335
0.200     337
0.250     420
0.333     607
0.000    7012
Name: 3P%, Length: 417, dtype: int64
11.3      1
12.1      1
10.2      1
12.4      1
13.2      1
       ...
1.3     567
0.7     570
0.8     572
0.9     578
1.0     726
Name: 2P, Length: 122, dtype: int64
27.0      1
22.8      1
20.7      1
21.6      1
23.7      1
       ...
1.8     306
1.5     314
3.0     343
2.0     347
1.0     359
Name: 2PA, Length: 228, dtype: int64
0.071      1
0.179      1
0.737      1
0.256      1
0.150      1
        ...
0.429    199
0.400    216
0.333    274
0.000    431
0.500    529
Name: 2P%, Length: 480, dtype: int64
0.196      1
0.655      1
0.708      1
0.077      1
0.056      1
        ...
0.478    161
0.480    165
0.333    203
0.000    360
0.500    476
Name: eFG%, Length: 503, dtype: int64
8.6        1
9.0        1
10.2       1
9.4        1
9.3        1
        ...
0.4      952
0.6      962
0.7      993
0.0     1021
0.5     1053
Name: FT, Length: 98, dtype: int64
11.7      1
13.1      1
9.6       1
11.1      1
12.0      1
       ...
0.9     704
0.7     787
0.8     823
0.0     833
1.0     874
Name: FTA, Length: 120, dtype: int64
0.319      1
0.270      1
0.419      1
0.988      1
0.460      1
        ...
0.667    425
0.750    457
1.000    562
0.500    616
0.000    990
Name: FT%, Length: 638, dtype: int64
5.5       1
6.9       1
6.4       1
6.8       1
5.8       1
       ...
0.6    1144
0.2    1222
0.5    1410
0.4    1490
0.3    1687
Name: ORB, Length: 64, dtype: int64
11.6      1
10.0      1
11.4      1
11.5      1
11.1      1
       ...
0.8     560
1.1     586
1.5     587
1.3     627
1.0     699
Name: DRB, Length: 117, dtype: int64
14.5      1
14.4      1
14.6      1
14.3      1
14.9      1
       ...
1.5     452
1.9     454
1.8     467
2.0     486
1.0     537
Name: TRB, Length: 163, dtype: int64
11.9       1
13.8       1
13.9       1
13.6       1
14.2       1
        ...
0.8      816
0.6      830
0.4      903
0.5      910
0.3     1037
Name: AST, Length: 131, dtype: int64
3.1       1
3.5       1
3.7       1
3.2       3
2.9       8
3.0       8
2.8       8
2.7      13
2.6      16
2.5      24
2.4      29
2.3      35
2.2      48
2.1      62
1.9      89
2.0      99
1.8     148
1.7     190
1.6     261
1.4     321
1.5     325
1.3     443
1.2     578
1.1     677
1.0     984
0.1     998
0.9    1107
0.0    1175
0.8    1312
0.7    1470
0.2    1548
0.6    1711
0.5    1922
0.4    1924
0.3    2073
Name: STL, dtype: int64
5.6       1
3.8       1
6.0       1
4.2       1
4.4       1
4.1       2
4.6       2
5.0       2
4.5       2
4.0       2
3.1       4
4.3       4
3.9       5
3.6       5
3.5       6
3.4       8
3.2       9
3.7       9
3.3       9
2.9      12
2.8      14
3.0      15
2.7      22
2.6      23
2.5      28
2.4      30
2.2      32
2.3      35
2.1      52
1.9      62
2.0      72
1.8      85
1.7     104
1.6     109
1.4     146
1.5     149
1.2     196
1.3     203
1.1     281
1.0     345
0.9     388
0.8     534
0.7     648
0.6     826
0.5    1175
0.4    1592
0.3    2341
0.2    2942
0.0    3254
0.1    3823
Name: BLK, dtype: int64
5.4       1
4.5       1
5.0       2
5.7       2
4.8       2
4.3       2
4.7       3
4.6       4
4.2       8
4.4       8
4.1      12
3.9      17
4.0      22
3.8      34
3.7      36
3.6      50
3.4      66
3.5      67
3.3      76
3.2     105
3.1     120
3.0     151
2.9     171
2.8     187
2.7     192
0.1     206
2.6     234
2.5     254
2.4     258
2.3     331
2.2     351
2.1     359
0.2     424
2.0     426
1.9     443
1.8     525
0.0     564
1.7     569
1.6     592
1.5     705
1.4     758
1.2     818
1.3     856
0.3     888
0.4     891
1.1     936
0.9    1063
0.6    1138
1.0    1139
0.7    1150
0.5    1175
0.8    1220
Name: TOV, dtype: int64
5.5      1
4.7      1
6.0      1
4.6      1
5.0      2
4.8      3
4.5      4
4.4      7
4.3      9
4.2     15
4.1     27
0.1     32
4.0     51
3.9     68
0.2     94
3.8    101
3.7    115
3.6    160
0.4    184
3.4    206
3.5    208
0.3    226
3.3    283
0.0    315
0.6    325
3.2    326
0.5    349
3.1    354
0.7    416
0.9    454
0.8    469
2.9    476
3.0    478
2.8    563
1.1    582
2.7    585
2.6    626
1.2    649
1.4    695
2.2    708
1.3    712
2.4    718
1.7    723
2.5    725
1.0    727
1.6    783
1.5    785
2.1    792
2.3    814
1.9    854
1.8    872
2.0    938
Name: PF, dtype: int64
31.2      1
32.3      1
31.0      1
35.4      1
33.0      1
       ...
3.3     208
4.0     229
3.0     248
0.0     269
2.0     280
Name: PTS, Length: 323, dtype: int64

In [23]:
player_stats.dropna(subset=['Name', 'Season', 'Age', 'Pos', 'G', 'GS', 'MP'], inplace=True)

In [5]:
player_stats.shape

(20852, 31)

In [24]:
for name in stats_names:
    print(player_stats[name].value_counts(dropna=False, ascending=True))

Khyri Thomas                1
Shai Gilgeous-Alexander     1
Darryl Johnson              1
Ben Gillery                 1
Jacob Evans                 1
                           ..
Joe Smith                  26
Kevin Willis               27
Nazr Mohammed              28
Eddie Johnson              29
Gerald Henderson           29
Name: Name, Length: 2948, dtype: int64
1980-81     13
1979-80     13
1983-84    343
1984-85    362
1981-82    373
1986-87    378
1985-86    379
1982-83    391
1987-88    426
1988-89    438
1990-91    441
1992-93    449
1994-95    452
1991-92    458
1989-90    459
1993-94    481
2002-03    483
1999-00    496
2001-02    500
1998-99    507
2006-07    516
2000-01    537
1995-96    545
1997-98    547
2011-12    552
2005-06    563
1996-97    573
2012-13    576
2015-16    578
2009-10    578
2008-09    582
2004-05    585
2003-04    585
2007-08    595
2016-17    595
2013-14    614
2010-11    625
2014-15    652
2017-18    664
2018-19    708
Name: Season, dtype: int64
43       1
44       1
42       4
41       5
18      12
40      19
39      48
38      96
19     124
37     148
36     213
35     325
20     330
34     487
21     618
33     628
32     815
31     983
30    1182
29    1252
22    1397
28    1419
27    1633
26    1827
25    1901
23    2041
24    2103
Name: Age, dtype: int64
NOK      34
SDC      51
KCK      61
CHO      87
VAN      98
NOP     132
BRK     134
NOH     161
CHA     183
OKC     198
CHH     243
WSB     256
MEM     340
WAS     391
SEA     411
TOR     442
MIN     492
ORL     505
MIA     525
NJN     544
SAC     565
UTA     581
IND     585
LAL     599
POR     602
LAC     610
DET     612
CHI     624
NYK     633
DEN     635
DAL     642
PHO     644
HOU     646
ATL     653
BOS     653
SAS     655
GSW     659
MIL     660
PHI     671
CLE     673
TOT    1722
Name: Tm, dtype: int64
NBA    19612
Name: Lg, dtype: int64
PG-SF       1
SG-PF       4
SF-PF      20
PF-C       23
SG-PG      24
PF-SF      24
SG-SF      27
C-PF       28
PG-SG      29
SF-SG      30
SF       3651
SG       3868
C        3888
PG       3903
PF       4092
Name: Pos, dtype: int64
85       3
84       4
83      17
34     122
37     136
      ...
78     436
79     517
80     698
81     738
82    1380
Name: G, Length: 85, dtype: int64
83       3
57      61
44      70
52      72
48      75
      ...
82     550
3      582
2      844
1     1189
0     5572
Name: GS, Length: 84, dtype: int64
41.2      1
42.1      1
44.5      1
42.6      1
41.7      1
       ...
6.0      86
4.0      87
12.3     92
9.0      98
5.0     104
Name: MP, Length: 422, dtype: int64
11.9      1
11.4      1
13.0      1
12.7      1
13.4      1
       ...
1.8     462
0.8     462
1.5     476
1.3     524
1.0     644
Name: FG, Length: 125, dtype: int64
21.9      1
24.8      1
25.5      1
22.9      1
25.1      1
       ...
3.5     245
4.0     251
2.0     279
1.0     283
3.0     299
Name: FGA, Length: 250, dtype: int64
0.208      1
0.716      1
0.706      1
0.071      1
0.236      1
        ...
0.429    200
0.400    215
0.333    290
0.000    360
0.500    371
Name: FG%, Length: 489, dtype: int64
4.8       1
3.6       1
3.8       1
4.1       1
4.0       1
4.2       1
3.7       1
5.1       2
3.5       2
3.4       3
3.3       5
3.1       7
3.0       8
3.2       8
2.9      12
2.8      18
2.7      20
2.6      32
2.5      43
2.4      52
2.3      69
2.2      76
2.1      89
2.0     134
1.9     158
1.7     164
1.8     173
1.6     235
1.5     288
1.4     288
1.2     326
1.3     349
1.1     433
0.9     481
1.0     487
0.8     550
0.7     554
0.6     582
0.5     699
0.4     744
0.3     987
0.2    1045
0.1    1761
0.0    8721
Name: 3P, dtype: int64
9.3        1
8.7        1
8.9        1
8.4        1
11.2       1
        ...
0.4      561
0.3      808
0.2      904
0.1     1949
0.0     5543
Name: 3PA, Length: 95, dtype: int64
0.047       1
0.120       1
0.493       1
0.108       1
0.139       1
         ...
0.500     335
0.200     337
0.250     420
0.333     607
0.000    7012
Name: 3P%, Length: 417, dtype: int64
11.3      1
12.1      1
10.2      1
12.4      1
13.2      1
       ...
1.3     567
0.7     570
0.8     572
0.9     578
1.0     726
Name: 2P, Length: 122, dtype: int64
27.0      1
22.8      1
20.7      1
21.6      1
23.7      1
       ...
1.8     306
1.5     314
3.0     343
2.0     347
1.0     359
Name: 2PA, Length: 228, dtype: int64
0.071      1
0.179      1
0.737      1
0.256      1
0.150      1
        ...
0.429    199
0.400    216
0.333    274
0.000    431
0.500    529
Name: 2P%, Length: 480, dtype: int64
0.196      1
0.655      1
0.708      1
0.077      1
0.056      1
        ...
0.478    161
0.480    165
0.333    203
0.000    360
0.500    476
Name: eFG%, Length: 503, dtype: int64
8.6        1
9.0        1
10.2       1
9.4        1
9.3        1
        ...
0.4      952
0.6      962
0.7      993
0.0     1021
0.5     1053
Name: FT, Length: 98, dtype: int64
11.7      1
13.1      1
9.6       1
11.1      1
12.0      1
       ...
0.9     704
0.7     787
0.8     823
0.0     833
1.0     874
Name: FTA, Length: 120, dtype: int64
0.319      1
0.270      1
0.419      1
0.988      1
0.460      1
        ...
0.667    425
0.750    457
1.000    562
0.500    616
0.000    990
Name: FT%, Length: 638, dtype: int64
5.5       1
6.9       1
6.4       1
6.8       1
5.8       1
       ...
0.6    1144
0.2    1222
0.5    1410
0.4    1490
0.3    1687
Name: ORB, Length: 64, dtype: int64
11.6      1
10.0      1
11.4      1
11.5      1
11.1      1
       ...
0.8     560
1.1     586
1.5     587
1.3     627
1.0     699
Name: DRB, Length: 117, dtype: int64
14.5      1
14.4      1
14.6      1
14.3      1
14.9      1
       ...
1.5     452
1.9     454
1.8     467
2.0     486
1.0     537
Name: TRB, Length: 163, dtype: int64
11.9       1
13.8       1
13.9       1
13.6       1
14.2       1
        ...
0.8      816
0.6      830
0.4      903
0.5      910
0.3     1037
Name: AST, Length: 131, dtype: int64
3.1       1
3.5       1
3.7       1
3.2       3
2.9       8
3.0       8
2.8       8
2.7      13
2.6      16
2.5      24
2.4      29
2.3      35
2.2      48
2.1      62
1.9      89
2.0      99
1.8     148
1.7     190
1.6     261
1.4     321
1.5     325
1.3     443
1.2     578
1.1     677
1.0     984
0.1     998
0.9    1107
0.0    1175
0.8    1312
0.7    1470
0.2    1548
0.6    1711
0.5    1922
0.4    1924
0.3    2073
Name: STL, dtype: int64
5.6       1
3.8       1
6.0       1
4.2       1
4.4       1
4.1       2
4.6       2
5.0       2
4.5       2
4.0       2
3.1       4
4.3       4
3.9       5
3.6       5
3.5       6
3.4       8
3.2       9
3.7       9
3.3       9
2.9      12
2.8      14
3.0      15
2.7      22
2.6      23
2.5      28
2.4      30
2.2      32
2.3      35
2.1      52
1.9      62
2.0      72
1.8      85
1.7     104
1.6     109
1.4     146
1.5     149
1.2     196
1.3     203
1.1     281
1.0     345
0.9     388
0.8     534
0.7     648
0.6     826
0.5    1175
0.4    1592
0.3    2341
0.2    2942
0.0    3254
0.1    3823
Name: BLK, dtype: int64
5.4       1
4.5       1
5.0       2
5.7       2
4.8       2
4.3       2
4.7       3
4.6       4
4.2       8
4.4       8
4.1      12
3.9      17
4.0      22
3.8      34
3.7      36
3.6      50
3.4      66
3.5      67
3.3      76
3.2     105
3.1     120
3.0     151
2.9     171
2.8     187
2.7     192
0.1     206
2.6     234
2.5     254
2.4     258
2.3     331
2.2     351
2.1     359
0.2     424
2.0     426
1.9     443
1.8     525
0.0     564
1.7     569
1.6     592
1.5     705
1.4     758
1.2     818
1.3     856
0.3     888
0.4     891
1.1     936
0.9    1063
0.6    1138
1.0    1139
0.7    1150
0.5    1175
0.8    1220
Name: TOV, dtype: int64
5.5      1
4.7      1
6.0      1
4.6      1
5.0      2
4.8      3
4.5      4
4.4      7
4.3      9
4.2     15
4.1     27
0.1     32
4.0     51
3.9     68
0.2     94
3.8    101
3.7    115
3.6    160
0.4    184
3.4    206
3.5    208
0.3    226
3.3    283
0.0    315
0.6    325
3.2    326
0.5    349
3.1    354
0.7    416
0.9    454
0.8    469
2.9    476
3.0    478
2.8    563
1.1    582
2.7    585
2.6    626
1.2    649
1.4    695
2.2    708
1.3    712
2.4    718
1.7    723
2.5    725
1.0    727
1.6    783
1.5    785
2.1    792
2.3    814
1.9    854
1.8    872
2.0    938
Name: PF, dtype: int64
31.2      1
32.3      1
31.0      1
35.4      1
33.0      1
       ...
3.3     208
4.0     229
3.0     248
0.0     269
2.0     280
Name: PTS, Length: 323, dtype: int64

In [7]:
right_age = player_stats.iloc[:, 2].str.isdigit()
player_stats = player_stats[right_age]
print(player_stats.shape)

(19612, 31)

In [8]:
player_stats.isna().sum()

Name         0
Season       0
Age          0
Tm           0
Lg           0
Pos          0
G            0
GS           0
MP           0
FG           0
FGA          0
FG%         97
3P           0
3PA          0
3P%       3458
2P           0
2PA          0
2P%        149
eFG%        97
FT           0
FTA          0
FT%        829
ORB          0
DRB          0
TRB          0
AST          0
STL          0
BLK          0
TOV          0
PF           0
PTS          0
dtype: int64

In [9]:
player_stats.fillna(0, inplace=True)
print(player_stats.shape)

(19612, 31)

In [10]:
for name in stats_names:
    print(player_stats[name].value_counts(dropna=False, ascending=True))

Khyri Thomas                1
Shai Gilgeous-Alexander     1
Darryl Johnson              1
Ben Gillery                 1
Jacob Evans                 1
                           ..
Joe Smith                  26
Kevin Willis               27
Nazr Mohammed              28
Eddie Johnson              29
Gerald Henderson           29
Name: Name, Length: 2948, dtype: int64
1980-81     13
1979-80     13
1983-84    343
1984-85    362
1981-82    373
1986-87    378
1985-86    379
1982-83    391
1987-88    426
1988-89    438
1990-91    441
1992-93    449
1994-95    452
1991-92    458
1989-90    459
1993-94    481
2002-03    483
1999-00    496
2001-02    500
1998-99    507
2006-07    516
2000-01    537
1995-96    545
1997-98    547
2011-12    552
2005-06    563
1996-97    573
2012-13    576
2015-16    578
2009-10    578
2008-09    582
2004-05    585
2003-04    585
2007-08    595
2016-17    595
2013-14    614
2010-11    625
2014-15    652
2017-18    664
2018-19    708
Name: Season, dtype: int64
43       1
44       1
42       4
41       5
18      12
40      19
39      48
38      96
19     124
37     148
36     213
35     325
20     330
34     487
21     618
33     628
32     815
31     983
30    1182
29    1252
22    1397
28    1419
27    1633
26    1827
25    1901
23    2041
24    2103
Name: Age, dtype: int64
NOK      34
SDC      51
KCK      61
CHO      87
VAN      98
NOP     132
BRK     134
NOH     161
CHA     183
OKC     198
CHH     243
WSB     256
MEM     340
WAS     391
SEA     411
TOR     442
MIN     492
ORL     505
MIA     525
NJN     544
SAC     565
UTA     581
IND     585
LAL     599
POR     602
LAC     610
DET     612
CHI     624
NYK     633
DEN     635
DAL     642
PHO     644
HOU     646
ATL     653
BOS     653
SAS     655
GSW     659
MIL     660
PHI     671
CLE     673
TOT    1722
Name: Tm, dtype: int64
NBA    19612
Name: Lg, dtype: int64
PG-SF       1
SG-PF       4
SF-PF      20
PF-C       23
SG-PG      24
PF-SF      24
SG-SF      27
C-PF       28
PG-SG      29
SF-SG      30
SF       3651
SG       3868
C        3888
PG       3903
PF       4092
Name: Pos, dtype: int64
85       3
84       4
83      17
34     122
37     136
      ...
78     436
79     517
80     698
81     738
82    1380
Name: G, Length: 85, dtype: int64
83       3
57      61
44      70
52      72
48      75
      ...
82     550
3      582
2      844
1     1189
0     5572
Name: GS, Length: 84, dtype: int64
41.2      1
1.4       1
44.5      1
42.7      1
42.6      1
       ...
6.0      86
4.0      87
12.3     92
9.0      98
5.0     104
Name: MP, Length: 422, dtype: int64
13.0      1
12.7      1
11.9      1
12.2      1
11.4      1
       ...
1.8     462
0.8     462
1.5     476
1.3     524
1.0     644
Name: FG, Length: 125, dtype: int64
22.7      1
22.9      1
25.5      1
24.8      1
27.2      1
       ...
3.5     245
4.0     251
2.0     279
1.0     283
3.0     299
Name: FGA, Length: 250, dtype: int64
.629      1
.731      1
.229      1
.706      1
.716      1
       ...
.429    200
.400    215
.000    263
.333    290
.500    371
Name: FG%, Length: 490, dtype: int64
4.1       1
4.2       1
3.8       1
4.8       1
3.7       1
4.0       1
3.6       1
5.1       2
3.5       2
3.4       3
3.3       5
3.1       7
3.2       8
3.0       8
2.9      12
2.8      18
2.7      20
2.6      32
2.5      43
2.4      52
2.3      69
2.2      76
2.1      89
2.0     134
1.9     158
1.7     164
1.8     173
1.6     235
1.4     288
1.5     288
1.2     326
1.3     349
1.1     433
0.9     481
1.0     487
0.8     550
0.7     554
0.6     582
0.5     699
0.4     744
0.3     987
0.2    1045
0.1    1761
0.0    8721
Name: 3P, dtype: int64
11.7       1
8.9        1
8.7        1
11.2       1
9.3        1
        ...
0.4      561
0.3      808
0.2      904
0.1     1949
0.0     5543
Name: 3PA, Length: 95, dtype: int64
.145       1
.079       1
.047       1
.494       1
.088       1
        ...
.200     337
.250     420
.333     607
0       3458
.000    3554
Name: 3P%, Length: 418, dtype: int64
11.3      1
12.1      1
10.9      1
13.2      1
12.5      1
       ...
1.3     567
0.7     570
0.8     572
0.9     578
1.0     726
Name: 2P, Length: 122, dtype: int64
19.7      1
24.7      1
27.0      1
21.6      1
22.2      1
       ...
1.8     306
1.5     314
3.0     343
2.0     347
1.0     359
Name: 2PA, Length: 228, dtype: int64
.706      1
.716      1
.699      1
.298      1
.205      1
       ...
.429    199
.400    216
.333    274
.000    282
.500    529
Name: 2P%, Length: 481, dtype: int64
.118      1
.307      1
.664      1
.105      1
.675      1
       ...
.478    161
.480    165
.333    203
.000    263
.500    476
Name: eFG%, Length: 504, dtype: int64
8.6       1
9.3       1
9.0       1
9.5       1
9.4       1
       ...
0.4     952
0.6     962
0.7     993
0.0    1021
0.5    1053
Name: FT, Length: 98, dtype: int64
13.1      1
12.0      1
11.7      1
9.6       1
11.1      1
       ...
0.9     704
0.7     787
0.8     823
0.0     833
1.0     874
Name: FTA, Length: 120, dtype: int64
.968       1
.174       1
.259       1
.258       1
.316       1
        ...
.667     425
.750     457
1.000    562
.500     616
0        829
Name: FT%, Length: 639, dtype: int64
5.8       1
5.5       1
6.9       1
6.4       1
6.8       1
       ...
0.6    1144
0.2    1222
0.5    1410
0.4    1490
0.3    1687
Name: ORB, Length: 64, dtype: int64
12.0      1
11.6      1
11.4      1
13.0      1
10.0      1
       ...
0.8     560
1.1     586
1.5     587
1.3     627
1.0     699
Name: DRB, Length: 117, dtype: int64
17.3      1
14.6      1
18.7      1
15.5      1
13.7      1
       ...
1.5     452
1.9     454
1.8     467
2.0     486
1.0     537
Name: TRB, Length: 163, dtype: int64
13.6       1
12.0       1
13.1       1
13.7       1
14.5       1
        ...
0.8      816
0.6      830
0.4      903
0.5      910
0.3     1037
Name: AST, Length: 131, dtype: int64
3.5       1
3.1       1
3.7       1
3.2       3
2.9       8
3.0       8
2.8       8
2.7      13
2.6      16
2.5      24
2.4      29
2.3      35
2.2      48
2.1      62
1.9      89
2.0      99
1.8     148
1.7     190
1.6     261
1.4     321
1.5     325
1.3     443
1.2     578
1.1     677
1.0     984
0.1     998
0.9    1107
0.0    1175
0.8    1312
0.7    1470
0.2    1548
0.6    1711
0.5    1922
0.4    1924
0.3    2073
Name: STL, dtype: int64
5.6       1
3.8       1
6.0       1
4.2       1
4.4       1
4.1       2
4.6       2
5.0       2
4.5       2
4.0       2
3.1       4
4.3       4
3.9       5
3.6       5
3.5       6
3.4       8
3.2       9
3.7       9
3.3       9
2.9      12
2.8      14
3.0      15
2.7      22
2.6      23
2.5      28
2.4      30
2.2      32
2.3      35
2.1      52
1.9      62
2.0      72
1.8      85
1.7     104
1.6     109
1.4     146
1.5     149
1.2     196
1.3     203
1.1     281
1.0     345
0.9     388
0.8     534
0.7     648
0.6     826
0.5    1175
0.4    1592
0.3    2341
0.2    2942
0.0    3254
0.1    3823
Name: BLK, dtype: int64
5.4       1
4.5       1
5.0       2
5.7       2
4.8       2
4.3       2
4.7       3
4.6       4
4.2       8
4.4       8
4.1      12
3.9      17
4.0      22
3.8      34
3.7      36
3.6      50
3.4      66
3.5      67
3.3      76
3.2     105
3.1     120
3.0     151
2.9     171
2.8     187
2.7     192
0.1     206
2.6     234
2.5     254
2.4     258
2.3     331
2.2     351
2.1     359
0.2     424
2.0     426
1.9     443
1.8     525
0.0     564
1.7     569
1.6     592
1.5     705
1.4     758
1.2     818
1.3     856
0.3     888
0.4     891
1.1     936
0.9    1063
0.6    1138
1.0    1139
0.7    1150
0.5    1175
0.8    1220
Name: TOV, dtype: int64
4.6      1
4.7      1
5.5      1
6.0      1
5.0      2
4.8      3
4.5      4
4.4      7
4.3      9
4.2     15
4.1     27
0.1     32
4.0     51
3.9     68
0.2     94
3.8    101
3.7    115
3.6    160
0.4    184
3.4    206
3.5    208
0.3    226
3.3    283
0.0    315
0.6    325
3.2    326
0.5    349
3.1    354
0.7    416
0.9    454
0.8    469
2.9    476
3.0    478
2.8    563
1.1    582
2.7    585
2.6    626
1.2    649
1.4    695
2.2    708
1.3    712
2.4    718
1.7    723
2.5    725
1.0    727
1.6    783
1.5    785
2.1    792
2.3    814
1.9    854
1.8    872
2.0    938
Name: PF, dtype: int64
31.0      1
31.2      1
32.3      1
36.1      1
30.6      1
       ...
3.3     208
4.0     229
3.0     248
0.0     269
2.0     280
Name: PTS, Length: 323, dtype: int64

In [11]:
right_team = player_stats.iloc[:, 3].str.isalpha()
player_stats = player_stats[right_team]
print(player_stats.shape)

(19612, 31)

In [12]:
right_G = player_stats.iloc[:, 6].str.isdigit()
player_stats = player_stats[right_G]
print(player_stats.shape)

(19612, 31)

In [13]:
right_Gs = player_stats.iloc[:, 6].str.isdigit()
player_stats = player_stats[right_Gs]
print(player_stats.shape)

(19612, 31)

In [14]:
for col in stats_names:
    if col not in {'Name', 'Season', 'Age', 'Tm', 'Lg', 'Pos', 'G', 'GS'}:
        player_stats[col] = player_stats[col].apply(pd.to_numeric)

In [15]:
player_stats.dtypes

Name       object
Season     object
Age        object
Tm         object
Lg         object
Pos        object
G          object
GS         object
MP        float64
FG        float64
FGA       float64
FG%       float64
3P        float64
3PA       float64
3P%       float64
2P        float64
2PA       float64
2P%       float64
eFG%      float64
FT        float64
FTA       float64
FT%       float64
ORB       float64
DRB       float64
TRB       float64
AST       float64
STL       float64
BLK       float64
TOV       float64
PF        float64
PTS       float64
dtype: object

In [16]:
player_stats.shape

(19612, 31)

In [17]:
player_stats.dropna(inplace=True)
player_stats.shape

(19612, 31)

In [18]:
print(player_stats[player_stats['FGA'] < player_stats['FG']])

Empty DataFrame
Columns: [Name, Season, Age, Tm, Lg, Pos, G, GS, MP, FG, FGA, FG%, 3P, 3PA, 3P%, 2P, 2PA, 2P%, eFG%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS]
Index: []

In [19]:
print(player_stats[(player_stats['FG%'] > 1) | (player_stats['FG%'] < 0)])

Empty DataFrame
Columns: [Name, Season, Age, Tm, Lg, Pos, G, GS, MP, FG, FGA, FG%, 3P, 3PA, 3P%, 2P, 2PA, 2P%, eFG%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS]
Index: []

In [20]:
print(player_stats[player_stats['FG%'] > 1])

Empty DataFrame
Columns: [Name, Season, Age, Tm, Lg, Pos, G, GS, MP, FG, FGA, FG%, 3P, 3PA, 3P%, 2P, 2PA, 2P%, eFG%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS]
Index: []

In [21]:
# player_stats.to_csv('player_stats_cleaned.csv', index=False)